*.class
*.class
*.MF
out/production/ProjetPacman/Image/Ghost.png
out/production/ProjetPacman/Image/Pacman.pngsrc/META-INF/MANIFEST.MFout/*
.idea/artifacts/ProjetPacman_jar.xml
.idea/libraries/javafx_swt.xml
